@import "config";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Dosis", sans-serif;
	height: 100vh;
	display: grid;
	grid-template-rows: 8em;
	grid-auto-rows: 1fr;
	background-image: linear-gradient($dark, $light);
	padding: 5em;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	max-height: fit-content;
}

button {
	margin: 1em;
	padding: 1em;
	border-radius: 1em;
	background-color: $light;
	border: none;
	font-size: 1rem;
	cursor: pointer;
	&:hover {
		background-color: darken($light, 10%);
	}
}

.shelf-topper {
	display: flex;
	justify-content: end;
	background-color: $dark;
	border-radius: 1em;
	margin: 1em;
}

.shelf {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1em;
	padding: 1em;
	border-radius: 1em;
	background-color: darken($dark, 10%);

	.card {
		background-color: $primary;
		border-radius: 1em;
		padding: 1em;
		color: darken($dark, 50%);
	}
}

.page-mask {
	display: none;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.add-book-popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $dark;
	padding: 2em;
	border-radius: 1em;

	.add-book-form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		h2 {
			font-size: 2rem;
		}

		form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-top: 1em;

			label {
				font-size: 1.5rem;
				font-weight: 400;
				margin-top: 0.7em;
			}

			input {
				height: 2rem;
				font-size: 1.3rem;
				border-radius: 1em;
				padding: 1em;
				border: none;
				margin-top: 0.2em;

				#bread {
					height: 2rem;
				}
			}

			button {
				width: 100%;
				font-size: 1.5rem;
			}
		}
	}
}
